body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141639;
}

canvas {
  display: block;
}

body{
    cursor: grab;
}

body.dragging {
    cursor: grabbing;
}

#title {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-family: 'NewStarWords', sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#usagiza {
    position: absolute;
    top: calc(50% - 60px);  /* タイトルの上部に配置 */
    left: calc(50% + 200px); /* タイトルの右側に配置 */
    width: 80px;
    height: auto;
    z-index: 11;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@font-face{
    font-family: 'NewStarWords';
    src: url('./fonts/Newstarwords-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}